.cardregister {
  text-align: center;
  width: 100%;
  margin: 20px auto;
  &__title {
    font-weight: bold;
    font-size: 25px;
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 20px;
  }
  &__link {
    display: flex;
    justify-content: center;
    padding: 20px;
    .cardregster-to {
      width: 20%;
      text-align: center;
      background-color: royalblue;
      color: white;
    }
  }
}
.content {
  width: 700px;
  height: 100%;
  margin: 0 auto;
  padding: 20px 50px;
  background-color: whitesmoke;
  .card {
    height: 100%;
    background-color: white;
    &__title {
      font-size: 24px;
      font-weight: bold;
      padding: 8px 24px;
      text-align: center;
      border-bottom: solid 1px whitesmoke;
    }
    &__form {
      padding: 20px;
      &__num {
        margin: auto;
        width: 350px;
        &__text {
          #card_number {
            height: 50px;
            width: 100%;
            border-radius: 4px;
            margin-top: 8px;
          }
        }
        &__logo {
          padding-top: 10px;
          display: flex;
          .hoge_visa {
            height: 20px;
            width: 49px;
          }
          .hoge {
            height: 25px;
            width: 30px;
          }
          li {
            margin-right: 10px;
          }
        }
      }
      &__limit {
        margin: auto;
        width: 350px;
        &__time {
          display: flex;
          select {
            width: 170px;
          }
          span {
            line-height: 40px;
          }
        }
        .textalign__card {
          display: flex;
          .displayflex {
            width: 50%;
            margin-top: 20px;
            a {
              height: 24px;
              width: 70px;
              color: #ea352d;
              line-height: 15px;
              font-size: 14px;
              padding: 4px 6px;
              border: 1px solid #ea352d;
              border-radius: 4px;
            }
          }
        }
      }
      &__sequrity {
        margin: auto;
        width: 350px;
        &__cord {
          #cvc {
            height: 50px;
            width: 100%;
            border-radius: 4px;
            margin-top: 8px;
          }
        }
        .edit-destroy {
          margin-bottom: 50px;
        }
        .text {
          position: relative;
          a {
            position: absolute;
            bottom: -20px;
            right: 0;
            text-decoration: none;
            color: lightblue;
            font-size: 14px;
          }
        }
      }
      &__submit {
        margin: auto;
        width: 350px;
        #token_submit {
          font-size: 18px;
          color: white;
          width: 100%;
          height: 50px;
          background-color: red;
          margin-top: 30px;
        }
      }
    }
  }
}



select {
  width: 100%;
  height: 40px;
  background-color: white;
}

.explan {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  margin: 18px 0;
}
.red {
  height: 23px;
  padding: 2px 4px;
  color: #ffffff;
  border-radius: 2px;
  font-size: 12px;
  background-color: #ea352d;
}