.contented {
  background-color: whitesmoke;
  .header {
    font-size: 50px;
    height: 130px;
    width: 720px;
    line-height: 130px;
    text-align: center;
    padding-top: 8px;
    margin: 0 auto;
  }
  .main {
    height: 100%;
    width: 720px;
    margin: 0 auto;
    background-color: white;
    h2 {
      text-align: center;
      font-size: 30px;
      border-bottom: 2px solid whitesmoke;
      padding: 30px 0;
      font-weight: bold;
    }
    &__image {
      padding: 30px;
      border-bottom: solid 1px whitesmoke;
      &__text {
        font-size: 14px;
        margin-bottom: 8px;
        display: flex;
        font-weight: normal;
      }
      .post {
        height: 120px;
        width: 100%;
        display: flex;
        background-color: whitesmoke;
        .prev-content {
          display: flex;
          .preview-box {
            width: 122px;
            margin: 15px 5px;
            .lower-box {
              text-align: center;
              line-height: 30px;
              .update-box {
                height: 30px;
                width: 60px;
                font-size: 18px;
                border-radius: 12px;
                background-color: lime;
                margin: 5px auto;
                .edit-btn {
                  color: green;
                }
              }
              .destroy-box {
                color: blue;
                height: 30px;
                width: 60px;
                font-size: 18px;
                border-radius: 12px;
                background-color: pink;
                margin: 5px auto;
                font-size: 18px;
              }
            }
          }
        }
        .label-content {
          height: 100%;
          width: 100%;
          position: relative;
          .label-box {
            line-height: 120px;
            text-align: center;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
        .hidden-content {
          .hidden-field {
            display: none;
          }
          .hidden-checkbox {
            display: none;
          }
          input {
            height: 120px;
            width: 100%;
            background-color: red;
          }
        }
      }
    }
    .sell__block__form__name {
      padding: 30px;
      border-bottom: solid 1px whitesmoke;
    }
  }
  .popup {
    display: none;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    &__content {
      background: white;
      height: 650px;
      width: 600px;
      padding: 32px 24px;
      margin: 5% auto;
      &__title {
        height: 50px;
        line-height: 50px;
        display: flex;
        justify-content: space-around;
        &__edit {
          height: 60px;
          width: 200px;
          text-align: center;
          line-height: 60px;
          background-color: whitesmoke;
          color: green;
          span {
            font-size: 20px;
          }
        }
        span {
          font-size: 20px;
        }
        .destroy-box {
          color: blue;
          height: 60px;
          width: 80px;
          text-align: center;
          line-height: 60px;
          background-color: whitesmoke;
        }
      }
      &__image__0 {
        height: 400px;
        text-align: center;
        margin-top: 29px;
      }
      &__image__1 {
        height: 400px;
        text-align: center;
        margin-top: 29px;
      }
      &__image__2 {
        height: 400px;
        text-align: center;
        margin-top: 29px;
      }
      &__image__3 {
        height: 400px;
        text-align: center;
        margin-top: 29px;
      }
      &__image__4 {
        height: 400px;
        text-align: center;
        margin-top: 29px;
      }
      &__btn {
        height: 100px;
        color: white;
        font-size: 40px;
        text-align: center;
        .closebtn {
          height: 80px;
          width: 250px;
          line-height: 80px;
          background-color: red;
          margin: auto;
        }
      }
    }
  }
  .showpop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}