.content {
  background-color: whitesmoke;
  .header {
    font-size: 50px;
    height: 130px;
    width: 720px;
    line-height: 130px;
    text-align: center;
    padding-top: 8px;
    margin: 0 auto;
  }
  .main {
    height: 100%;
    width: 720px;
    margin: 0 auto;
    background-color: white;
    &__image {
      padding: 30px;
      border-bottom: solid 1px whitesmoke;
      &__text {
        font-size: 14px;
        margin-bottom: 8px;
        display: flex;
      }
      &__file {
        height: 120px;
        width: 100%;
        background-color: rgb(245, 245, 245);
        display: flex;
        #js-file_group {
          display: flex;
          .preview-box {
            padding: 15px 5px;
          }
        }
        .label-content {
          height: 100%;
          width: 100%;
          position: relative;
          .label {
            line-height: 120px;
          text-align: center;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
        .hidden-content {
          .hidden {
            display: none;
          }
          input {
            height: 120px;
            width: 100%;
            background-color: red;
          }
        }
      }
      .delete-btn {
        height: 40px;
        width: 120px;
        background-color: green;
        border-radius: 12px;
        font-weight: bold;
        font-size: 20px;
        color: white;
        text-align: center;
        line-height: 40px;
        margin-left: 500px;
        margin-top: 20px;
        cursor: pointer;
      }
    }
    &__item {
      padding: 30px;
      border-bottom: solid 1px whitesmoke;
      position: relative;
      &__name {
        .text {
          height: 50px;
          width: 100%;
        }
      }
      &__info {
        .text {
          height: 100px;
          width: 100%;
        }
      }
      .count {
        font-size: 12px;
        position: absolute;
        right: 30px;
        bottom: 20px;
      }
    }
    &__detail {
      padding: 30px;
      border-bottom: solid 1px whitesmoke;
      .caption {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 40px;
      }
      &__element {
        width: 100%;
        .text {
          height: 50px;
          width: 100%;
        }
      }
    }
    &__prace {
      padding: 30px;
      .caption {
        font-size: 14px;
        font-weight: bold;
      }
      &__element {
        width: 100%;
        &__value {
          display: flex;
          &__name {
            .text {
              height: 50px;
              width: 100%;
            }
          }
        }
        .fee {
          font-size: 14px;
          padding: 30px 0;
          border-bottom: solid 1px whitesmoke;
          display: flex;
          justify-content: space-between;
        }
        .return {
          font-size: 14px;
          padding: 30px 0;
          border-bottom: solid 1px whitesmoke;
          display: flex;
          justify-content: space-between;
        }
      }
    }
    &__submit {
      padding: 30px;
      &__select {
        margin-bottom: 30px;
      }
      &__item {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;
        .item {
          color: white;
          height: 50px;
          width: 60%;
          background-color: red;
          border-radius: 4px;
        }
      }
      &__draft {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
        .draft {
          height: 50px;
          width: 60%;
          background-color: lightgrey;
          border-radius: 4px;
        }
      }
      .root {
        text-align: center;
        a {
          color: lightblue;
          text-decoration: none;
        }
      }
    }
    .note {
      padding: 30px;
      font-size: 12px;
      a {
        text-decoration: none;
        color: lightblue;
      }
    }
  }
  .footer-new {
    height: 200px;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    a {
      text-decoration: none;
      color: black;
      padding: 10px;
    }
  }
}

.item-image {
  padding: 10px 5px;
  .item-image__operetion {
    text-align: center;
    &--delete {
      color: rgb(0, 149, 238);
    }
  }
}
select {
  width: 100%;
  height: 40px;
  background-color: white;
}
.explan {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  margin: 18px 0;
}
.red {
  height: 23px;
  padding: 2px 4px;
  color: #ffffff;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  background-color: #ea352d;
}