@mixin title() {
  text-align: center;
  padding: 50px;
  font-size: 32px;
}

@mixin word() {
  text-align: center;
  font-size: 24px;
  padding: 10px;
}

@mixin number() {
  width: 50px;
  height: 50px;
  background-color: #3CCACE;
  color: white;
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: 0;
  font-size: 24px;
}

@mixin picture {
  width: 400px;
  height: 400px;
}

@mixin explain {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}