
.header {
  width: 100vw;
  height: 120px;
  align-items: center;
  justify-content: center;
  display: flex;
  &__main {
    width: 80vw;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    &__title {
      margin-right: 20px;
      font-size: 30px;
      line-height: 60px;
    }
    &__form {
      width: 70vw;
      height: 40px;
      display: flex;
      &__field {
        .hoge {
          padding-left: 26px;
        }
        input {
          width: 66vw;
        }
      }
      &__button {
        width: 40px;
        background-color: #3CCACE;
        text-align: center;
        line-height: 40px;
        color: white;
      }
    }
  }
}
.center {
  width: 100vw;
  height: 44px;
  overflow: scroll;
  &__topic {
    display: flex;
    justify-content: space-between;
    &__items {
      display: flex;
      margin-left: 180px;
      &__category {
        padding: 10px 20px;
      }
      &__brand {
        padding: 10px 20px;
      }
    }
    &__users {
      display: flex;
      margin-right: 180px;
      &__login {
        padding: 10px 20px;
      }
      &__register {
        padding: 10px 20px;
      }
    }
  }
}
.contents{
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  .side{
    width: 280px;
    margin: 0 40px 0 0;
    &__mypage {
      .mypage-nav-head {
        margin-top: 40px;
        padding-left: 40px;
      }
      ul {
        margin: 0;
      }
      a{
        position: relative;
        display: block;
        min-height: 48px;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        border-top: 1px solid #eee;
        i{
          position: absolute;
          top: 50%;
          right: 16px;
          color: #ccc;
        }
      }
    }
  }
  .main{
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto ;
    width: 700px;
    &__mypage{
      // margin-left: 60px;
      width: 700px;
      &__icon{
        position: relative;
        height: 200px;
        text-align: center;
        padding: 20px;
        background-image: url(http://gahag.net/img/201604/04s/gahag-0072654273-1.jpg);
        background-size: cover;
      }
      &__number{
        display: flex;
        justify-content: center;
        margin: 8px 0 0;
      }
      name{
        margin: 8px 0 0;
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 1.4;
      }
      img{
        border-radius: 50%;
      }
    }
  }

  .section{
    display: flex;
    width: 700px;
    background-color: white;
    float: left;
    margin: 0 auto;
    ul{
      display: flex;
      width: 100%;
      background-color: white;
      margin: 0;
      padding: 0;
      li{
        display: flex;
        justify-content: center;
        border-top: 2px solid red;
        width: 50%;
        h3{
          font-size: 100%;
          a{
            position: relative;
            display: block;
            color: black;
            font-size: 16px;
            line-height: 72px;
          }
        }
      }
    }
  }
  .tab{
    width: 700px;
    height: 500px;
    background-color: white;
    margin-bottom: 40px;
    li{
      text-align: center;
    }
  }
  .container{
    margin: 40px 0 0;
    &__head{
      padding: 0 16px;
    }
    &__tab{
      background-color: #eee;
      &__active{
        background-color: #fff;
        width: 50%;
        h3{
          font-size: 22px;
          a{
            border: 2px solid #ea352d;
          }
        }
      }
    }
  }
  .sellbtn {
    width: 150px;
    height: 150px;
    background-color: #3CCACE;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    &__word {
      color: white;
      text-align: center;
      font-size: 30px;
      padding-top: 10px;
    }
    &__icon {
      color: white;
      text-align: center;
      font-size: 60px;
    }
  }
}
.body {
  &__center {
    &__download {
      background: image-url('3139480.jpg');
      width: 100vw;
      height: 600px;
      position: relative;
      &__title {
        color: #6b6b6b;
        position: absolute;
        top: 200px;
        left: 150px;
        font-size: 60px;
      }
      &__word {
        position: absolute;
        top: 450px;
        left: 200px;
        font-size: 30px;
        color: #1a1919;
      }
    }
  }
}
.footer{
  background-color: #272727;
  padding: 20px 0;
  color: white;
  text-align: center;
  &__contents{
    display: flex;
    max-width: 840px;
    margin: 0 auto;
    &__box{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head{
        margin-bottom: 25px;
        font-size: x-large;
      }
      &__list{
        margin-bottom: 10px;
        a{
        text-decoration: none;
        color: white;
        }
      }
    }
  }
  &__logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
}


