
.header {
  width: 100vw;
  height: 120px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: white;
  &__main {
    width: 80vw;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    &__title {
      margin-right: 20px;
      font-size: 30px;
      line-height: 60px;
      a {
        display: block;
      }
    }
    &__form {
      width: 70vw;
      height: 40px;
      display: flex;
      &__field {
        .hoge {
          padding-left: 26px;
        }
        input {
          width: 66vw;
        }
      }
      &__button {
        width: 40px;
        background-color: #3CCACE;
        text-align: center;
        line-height: 40px;
        color: white;
      }
    }
  }
}
.center {
  width: 100vw;
  height: 50px;
  background-color: white;
  &__topic {
    display: flex;
    justify-content: space-between;
    &__items {
      display: flex;
      margin-left: 180px;
      &__category {
        padding: 10px 20px;
        // position: relative;
        // .dropdown {
        //   display: none;
        //   width: 300px;
        //   height: 506px;
        //   padding: 10px 0 10px 10px;
        //   background-color: white;
        //   margin: 0;
        //   position: absolute;
        //   top: 44px;
        //   left: 0;
        //   z-index: 1000;
        //   .dropdown__menu {
        //     padding: 6px;
        //   }
        // }
        // .dropdown-child{
        //   width: 300px;
        //   height: 100%;
        //   padding: 10px;
        //   background-color: white;
        //   margin: 0;
        //   position: absolute;
        //   left: 280px;
        //   top: 44px;
        //   z-index: 1000;
        //   .dropdown-child__menu {
        //     padding: 6px;
        //   }
        // }
        // .dropdown-grandchild{
        //   width: 300px;
        //   height: 100%;
        //   padding: 10px;
        //   background-color: white;
        //   margin: 0;
        //   position: absolute;
        //   left: 580px;
        //   top: 44px;
        //   z-index: 1000;
        //   .dropdown-grandchild__menu {
        //     padding: 6px;
        //   }
        // }
      }
      &__brand {
        padding: 10px 20px;
      }
    }
    &__users {
      display: flex;
      margin-right: 180px;
      &__login {
        display: flex;
        a {
          padding: 10px 20px;
          margin-left: 5px;
        }
      }
    }
  }
}
.contents{
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  .side{
    width: 280px;
    margin: 0 40px 0 0;
    &__mypage {
      &__head {
        margin-top: 40px;
      }
      &__list {
        margin: 0;
        .side-list {
          line-height: 54px;
        }
        &__item {
          height: 54px;
          width: 280px;
        }
        li {
          background-color: white;
          a{
            display: block;
            min-height: 48px;
            padding: 16px;
            background: #fff;
            font-size: 14px;
            color: #333;
            border-top: 1px solid #eee;
            display: flex;
            justify-content: space-between;
            line-height: 20px;
          }
          i {
            line-height: 20px;
            display: none;
          }
        }
      }
    }
  }
  .main{
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto ;
    width: 700px;
    &__mypage{
      // margin-left: 60px;
      width: 700px;
      &__icon{
        position: relative;
        height: 200px;
        text-align: center;
        padding: 20px;
        background-image: url(http://gahag.net/img/201604/04s/gahag-0072654273-1.jpg);
        background-size: cover;
      }
      &__number{
        display: flex;
        justify-content: center;
        margin: 8px 0 0;
      }
      name{
        margin: 8px 0 0;
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 1.4;
      }
      img{
        border-radius: 50%;
      }
    }
  }
  .section{
    display: flex;
    width: 700px;
    background-color: white;
    float: left;
    margin: 0 auto;
    ul{
      display: flex;
      width: 100%;
      background-color: white;
      margin: 0;
      padding: 0;
      li{
        display: flex;
        justify-content: center;
        border-top: 2px solid red;
        width: 50%;
        h3{
          font-size: 100%;
          a{
            position: relative;
            display: block;
            color: black;
            font-size: 16px;
            line-height: 72px;
          }
        }
      }
    }
  }
  .tabs {
    width: 700px;
    height: 500px;
    background-color: white;
    margin-bottom: 40px;
  }
  .myitem {
    width: 700px;
    background-color: white;
    &__btn {
      display: flex;
      height: 74px;
      font-weight: bold;
      text-align: center;
      line-height: 74px;
      &__right {
        width: 50%;
        background-color: lightgrey;
      }
      &__left {
        width: 50%;
        border-top: 2px solid red;
      }
    }
    .tab{
      width: 700px;
      height: 500px;
      background-color: white;
      margin-bottom: 40px;
      &__head {
        height: 100px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        padding-top: 10px;
      }
      &__lists {
        height: 400px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        overflow: scroll;
        &__list {
          height: 265px;
          width: 200px;
          background-color: #ffffff;
          margin: 10px;
          &__image {
            height: 150px;
            width: 200px;
            display: flex;
            margin:0 auto;
          }
          &__info {
            padding: 16px;
            &__price {
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
      li{
        text-align: center;
      }
    }
    .tab-2{
      display: none;
      width: 700px;
      height: 500px;
      background-color: white;
      margin-bottom: 40px;
      &__head {
        height: 100px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
      }
      &__lists {
        height: 400px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        overflow: scroll;
        &__list {
          height: 265px;
          width: 200px;
          background-color: #ffffff;
          margin: 10px;
          &__image {
            height: 150px;
            width: 200px;
            display: flex;
            margin:0 auto;
          }
          &__info {
            padding: 16px;
            &__price {
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
      li{
        text-align: center;
      }
    }
  }
  .container{
    margin: 40px 0 0;
    &__head{
      padding: 0 16px;
    }
    &__tab{
      background-color: #eee;
      &__active{
        background-color: #fff;
        width: 50%;
        h3{
          font-size: 22px;
          a{
            border: 2px solid #ea352d;
          }
        }
      }
    }
  }
  .sellbtn {
    width: 150px;
    height: 150px;
    background-color: #3CCACE;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    &__word {
      color: white;
      text-align: center;
      font-size: 30px;
      padding-top: 10px;
    }
    &__icon {
      color: white;
      text-align: center;
      font-size: 60px;
    }
  }
}
.body {
  &__center {
    &__download {
      background: image-url('3139480.jpg');
      width: 100vw;
      height: 600px;
      position: relative;
      &__title {
        color: #6b6b6b;
        position: absolute;
        top: 200px;
        left: 150px;
        font-size: 60px;
      }
      &__word {
        position: absolute;
        top: 450px;
        left: 200px;
        font-size: 30px;
        color: #1a1919;
      }
    }
  }
}

.logout {
  margin-bottom: 20px;
}

// 以下は住所登録用

.main__mypage__icon.address {
  width: 700px;
}


.submit-btn {
  height: 50px;
  width : 320px;
  background-color: red;
  color: white;
  margin: 30px -200px;
}


.address-info {
  width: 700px;
  height: 100px;
  background-color: white;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
}

.address {
  width: 700px;
  height: 850px;
  background-color: white;
  padding: 20px;
  margin-top: 10px;
  &__subject {
    display: flex;
    justify-content: center;  
    &__name {
      text-align: center;
      margin-right: 10px;
      font-weight: bold;
    }
  }
  &__user {
    &__info {
      text-align: center;
      margin: 20px;
    }
  }
  .textalign__card {
    display: flex;
    justify-content: center;
    padding: 30px;
    .displayflex {
      width: 20%;
      text-align: center;
      background-color: royalblue;
      a {
        display: block;
        height: 24px;
        width: 120px;
        color: white;
      }
    }
    .margin {
      margin-right: 20px;
    }
  }
}

.red-required {
  height: 23px;
  padding: 2px 4px;
  color: #ffffff;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  background-color: #ea352d;
}

.gray-optional {
  height: 23px;
  padding: 2px 4px;
  color: #ffffff;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  background-color: #838383;
}
.address-link {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: white;
  .address-registration {
    width: 20%;
    text-align: center;
    background-color: royalblue;
    color: white;
  }
}
.user__input__center--size {
  width: 700px;
  height: 100%;
  background-color: white;
}