input {
  width: 960px;
  height: 40px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  -webkit-appearance: textfield;
  background-color: -internal-light-dark-color(white, black);
  -webkit-rtl-ordering: logical;
  cursor: text;
}

h1 {
  font-size: 16px;
}

li {
  list-style: none;
}
.body {
  // overflow: scroll;
  &__header {
    width: 100vw;
    height: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    &__main {
      width: 80vw;
      height: 60px;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: 20px;
      &__title {
        margin-right: 20px;
        font-size: 30px;
        line-height: 60px;
        text-decoration: none;
      }
      &__form {
        width: 70vw;
        height: 40px;
        background-color: #ffffff;
        display: flex;
        &__field {
          .hoge {
            padding-left: 26px;
          }
          input {
            width: 66vw;
          }
        }
        &__button {
          width: 40px;
          background-color: #3CCACE;
          text-align: center;
          line-height: 40px;
          color: white;
        }
      }
    }
  }
  &__center {
    width: 100vw;
    height: 700px;
    img {
      background-color: white;
    }
    &__topic {
      display: flex;
      justify-content: space-between;
      &__items {
        display: flex;
        margin-left: 180px;
        text-decoration: none;
        &__category {
          padding: 10px 20px;
        }
        &__brand {
          padding: 10px 20px;
        }
      }
      &__users {
        display: flex;
        margin-right: 180px;
        &__login {
          padding: 10px 20px;
          text-decoration: none;
        }
        &__register {
          padding: 10px 20px;
          text-decoration: none;
        }
      }
    }
  
    &__advertisement {
      background: image-url('321448.jpg');
      width: 100vw;
      height: 600px;
      position: relative;
      &__title {
        color: #a2a9aa;
        position: absolute;
        top: 250px;
        left: 200px;
        font-size: 60px;
      }
      &__word {
        position: absolute;
        top: 350px;
        left: 200px;
        font-size: 30px;
      }
    }
  
    &__reason {
      &__title {
        @include title()
      }
      &__grounds {
        display: flex;
        justify-content: space-evenly;
        &__1 {
          position: relative;
          &__picture {
            @include picture();
          }
          &__word {
            @include word();
          }
          &__number {
            @include number();
          }
          &__explain {
            @include explain();
          }
        }
      }
    }
    &__member {
      background: image-url('21280.jpg');
      width: 100vw;
      height: 500px;
      position: relative;
      &__title {
        color: cornsilk;
        font-size: 60px;
        position: absolute;
        right: 100px;
        top: 200px;
      }
      &__word {
        color: cornsilk;
        position: absolute;
        right: 160px;
        top: 300px;
        font-size: 30px;
      }
      &__explain {
        text-align: center;
        font-size: 20px;
        padding: 20px;
      }
    }
    &__features {
      &__title {
        @include title()
      }
      &__info {
        display: flex;
        justify-content: space-evenly;
        &__1 {
          &__picture {
            @include picture();
          }
          &__word {
            @include word();
          }
          &__explain {
            @include explain();
          }
        }
      }
    }
    &__items {
      width: 100vw;
      height: 900px;
      background-color: rgb(233, 230, 230);
      &__head {
        text-align: center;
        font-size: 40px;
        padding: 60px 0 ;
      }
      &__lists {
        width: 780px;
        height: 550px;
        display: flex;
        flex-wrap: wrap;
        margin:26px auto;
        overflow: scroll;
        justify-content: space-between;
        ul {
          padding: 0;
          margin: 0;
        }
        &__list {
          width: 220px;
          background-color: #ffffff;
          margin: 10px;
          &__picture {
            height: 150px;
            display: flex;
            margin:0 auto;
          }
          &__info {
            padding: 16px;
            &__price {
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
    }
    &__download {
      background: image-url('3139480.jpg');
      width: 100vw;
      height: 600px;
      position: relative;
      &__title {
        color: #6b6b6b;
        position: absolute;
        top: 200px;
        left: 150px;
        font-size: 60px;
      }
      &__word {
        position: absolute;
        top: 450px;
        left: 200px;
        font-size: 30px;
        color: #1a1919;
      }
    }
    .footer{
      background-color: #272727;
      padding: 20px 0;
      color: white;
      text-align: center;
      &__contents{
        display: flex;
        max-width: 840px;
        margin: 0 auto;
        &__box{
          display: flex;
          flex-direction: column;
          width: calc(1 / 3 * 100%);
          margin: 0 2% 0 0;
          &__head{
            margin-bottom: 25px;
            font-size: x-large;
          }
          &__list{
            margin-bottom: 10px;
            a{
            text-decoration: none;
            color: white;
            }
          }
        }
      }
      &__logo{
        max-width: 160px;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}
.sellbtn {
  width: 150px;
  height: 150px;
  background-color: #3CCACE;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  &__word {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
  }
  &__icon {
    color: white;
    text-align: center;
    font-size: 60px;
  }
}

