* {
  box-sizing: border-box;
}

.user{
  height: 100%;
  background-color: #f5f5f5;
  &__new{
    background-color: white;
    margin: 0 auto;
    height: 110px;
    text-align: center;
    line-height: 30px;
    width :720px;
    padding: 10px;
  }
  &__info{
    background-color: white;
    margin: 0 auto;
    height: 100px;
    text-align: center;
    line-height: 100px;
    width :720px;
  }
  &__form{
    padding-top: 5px;
  }
  &__input{
    width:320px;
    margin-top: 30px;
    margin-left: 200px;
    .text-field{
      padding-left: 12px;
      height: 48px;
      border-radius: 4px;
      width: 320px;
    }
    .text-field-n{
      padding-left: 12px;
      height: 48px;
      border-radius: 4px;
    }
    &__password{
      width: 10px;
      margin-left: 200px;
    }
    &__top{
      margin: 0 200px;
      padding-top: 40px;
      .text-field{
        padding-left: 12px;
        height: 48px;
        border-radius: 4px;
        width: 320px;
      }
    }
    &__center{
      margin: 0 auto;
      width : 720px;
      background-color: white;
      .flash {
        padding-left: 40px;
        height: 100%;
        text-align: left;
        font-size: 18px;
        color: black;
      }
    }
    &__identification{
      margin: 20px 200px 0 200px;
    }
    &__name{
      display: flex;
      margin-bottom: 20px;
    }
    &__family{
      margin-right: 10px;
      width: 100%;
    }
    &__first{
      width: 65%;
    }
    &__actions{
      margin-top: 30px;
      margin-left: 200px;
    }
    &__login {
      height: 400px;
      margin: 0 auto;
      width : 720px;
      background-color: white;
    }
  }
}

.text-gray{
  color: gray;
}

.red-btn{
  height: 50px;
  width : 320px;
  background-color: red;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}
.blue-btn{
  height: 50px;
  width: 320px;
  background-color: #0099e8;
  color: white;
  display: block;
  margin: 5px auto;
  line-height: 50px;
}

.flash {
  height: 30px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: red;
}
